:root {
  font-family: Inter, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  display: block;
  min-width: 320px;
  min-height: 100vh;
  color: #1f2937;
  background: #edf0f4;
}
